.App {
  text-align: center;
}

img {
  height: 200px;
}

.details {
  background-color: #f26b6b;
  margin: 20px;
  padding: 20px;
}

.movie {
  background-color: #f25c78;
  margin: 20px;
  padding: 20px;
}
