.App {
  text-align: center;
  display: inline-block;
}

.movie-cards img {
  height: 150px;
}

.movie-list {
  display: inline-block;
}

.movie-cards {
  width: 250px;
  height: 450px;
  border-radius: 4px;
  background-color: #ebd05a;
  margin: 8px;
  transition: all 0.2s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
